{% extends 'base.html.twig' %}

{% block title %}Admin page{% endblock %}

{% block navigation %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <h1>Admin page</h1>

    <table>
        <tr>
            <th>Id</th>
            <th>Message</th>
        </tr>

        {% for message in pagination %}
            <tr>
                <td>{{ message.id }}</td>
                <td>{{ message.message }}</td>
            </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}