{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contact</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
{% endblock %}